*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aqua;
}
ul{
    display: flex;
    align-items: center;
    height: 10vh;
    width: auto;
}
li{
    display: inline-block;
    margin:10px;
}

@media (max-width:768px){
    ul{
        
        display: unset;
    }
    li{
        display: block;
        color: brown;
    }
    nav{
        height: auto;
    }
}